<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Welcome to Projekt
			</h1>
			<h2 class="subtitle">
				Website project management built with Ruby on Rails for GR1
			</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">The features of Projekt are?</h3>
					<p>Projekt helps users manage projects, manage personnel in the team.</p>
					<p>During project implementation, members can check progress through Activite's statistics. Because all activities of team members are listed and displayed by the website. </p>
					<p>In addition, each project created will be assigned a certain amount of time to complete. When completed on schedule, the team will be given priority to receive new projects. If the project is not done on schedule, the project will be stopped and transferred to another team. In addition, the team that does not complete on schedule will not be given priority to receive new projects. </p>
				</div>
			</div>
			<div class="column is-4 is-offset1">
				<h4 class="subtitle is-4">Sign Up Today</h4>
				<%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
			</div>
		</div>
	</div>
</section>